
Notes/

HotelReservationWebApp/bin/
HotelReservationWebApp/.gradle/
HotelReservationWebApp/.idea/
HotelReservationWebApp/out/


 AbstractDataTypesAndAlgorythms/bin/
        HotelReservationSystem/bin/
        HotelReservationWebApp/.classpath


